<ion-view title="Profiler">
	<ion-content>

		<div layout="column" layout-margin layout-fill>
		  <md-toolbar md-scroll-shrink md-theme="docs-dark">
			  <md-card>
					<div layout="row" layout-sm="column"  layout-align="center center">
						<div flex="30">
							<span class="title">Search a player:</span>
						</div>
						<div flex="50">
							<md-text-float label="Player Name" ng-model="search.query" class="long"></md-text-float>
						</div>
						<div>
							<md-button class="md-primary md-hue-1 md-button md-default-theme" type="submit" ng-click="getInfos()"  style="max-height: 40px">
								Search
							</md-button>
						</div>
					</div>
				</md-card>
		  </md-toolbar>
		  <md-content class="md-padding" style="height: 600px;">
		    <md-list>
		      <md-item ng-repeat="profile in results">
			        <md-item-content ng-click="loadProfile(profile.id)">
				      	<div class="md-tile-left">
				      	  <img ng-src="{{profile.img}}" class="face">
				      	</div>
				      	<div class="md-tile-content">
				      	  <h3>{{profile.name}}</h3>
				      	  <h4>{{profile.server}}</h4>
				      	</div>
			        </md-item-content>
		        <md-divider inset></md-divider>
		      </md-item>
		    </md-list>
		  </md-content>
		</div>
	</ion-content>
</ion-view>