<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-tabs class="tabs-top tabs-dark has-tab-top ">

  <ion-tab title="Profile">
		<ion-view title="{{results.infos.name}}">
		  <ion-content has-header="true" padding="true">

				<div class="list card">

					<div class="item item-avatar">
						<img src="avatar.jpg">
						<h2 id="{{results.infos.name}}">
							{{results.infos.name}}
						</h2>
						<p>{{results.infos.infos}}</p>
					</div>

					<div class="item item-image character">
					  <img src="{{results.infos.bgImage}}">
					</div>

					<a class="item item-icon-left assertive" href="#">
						follow
					</a>

				</div>
			</ion-content>
		</ion-view>
  </ion-tab>
  <ion-tab title="Characteristics">
		<ion-view title="{{results.infos.name}} stats">
		  <ion-content has-header="true" padding="true">
		  	<div class="card">
				  <div class="item item-text-wrap">
				  	<h2>Basics</h2>
						<div class="row">
						  <div class="col">hp: {{results.attrs.hp}}</div>
						  <div class="col">mp: {{results.attrs.mp}}</div>
						</div>
						<div class="row">
						  <div class="col">int: {{results.attrs.int}}</div>
						  <div class="col">mnd: {{results.attrs.mnd}}</div>
						</div>
						<div class="row">
						  <div class="col">Dexterity: {{results.attrs.dex}}</div>
						  <div class="col">pie: {{results.attrs.pie}}</div>
						</div>
						<div class="row">
						  <div class="col">str: {{results.attrs.str}}</div>
						  <div class="col">tp: {{results.attrs.tp}}</div>
						</div>
				  </div>
		  	</div>

		  	<div class="card">
				  <div class="item item-text-wrap">
				  	<h2>resistances</h2>
						<div class="row">
						  <div class="col">earth: {{results.resistances.earth}}</div>
						  <div class="col">fire: {{results.resistances.fire}}</div>
						</div>
						<div class="row">
						  <div class="col">ice: {{results.resistances.ice}}</div>
						  <div class="col">wind: {{results.resistances.wind}}</div>
						</div>
						<div class="row">
						  <div class="col">thunder: {{results.resistances.thunder}}</div>
						  <div class="col">water: {{results.resistances.water}}</div>
						</div>
				  </div>
		  	</div>

			</ion-content>
		</ion-view>
  </ion-tab>

  <ion-tab title="Mounts">
		<ion-view title="{{results.infos.name}}">
		  <ion-content has-header="true" padding="true">
			  <div  class="card">
  				<div class="item item-text-wrap">
					  <ion-list>
							<ion-item  ng-repeat="(name,mount) in results.mounts">
						      <img src="{{mount.icon}}">
					     </ion-item>
						</ion-list>
  				</div>
  			</div>
			</ion-content>
		</ion-view>
  </ion-tab>

  </ion-tab>

</ion-tabs>
